@model Application.Models.Product

@{
    ViewData["Title"] = "Product View";
}
<div class="row">
    <div class="col-4">
        <div class="col-sm-5">
            <div class="bg-success mt-3 p-3 text-white">
                <vc:small-cart />
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="col-3">
            <h4>@Model.Name</h4>
            <img src="/media/products/@Model.Image" class="img-fluid" alt="@Model.Image" style="border:solid 2px">
            <div>
                @Html.Raw(Model.Description)
            </div>
            <p>
                @Model.Price.ToString("C2")
            </p>
            <div>
                <form asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>Sizes</label>
                        <select name="id2" class="form-control" required>
                            @foreach (var item in ViewBag.Sizes)
                            {
                                <option value="@item.Id" selected>@(item.Value)</option>
                            }
                        </select>
                    </div>
                    <div style="margin-top:10px">
                        <p>
                            <button class="btn btn-primary">Add to cart</button>
                        </p>
                    </div>
                    <div>
                        <a class="btn btn-primary" asp-action="Index"> All products</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>